body {
    background-attachment:fixed;
    height:100%;
    background-size: auto;
    /*background: #ea00ff;  For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left top, #e09393, #ea00ff); For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #e09393, #ea00ff);  For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, #e09393, #ea00ff);  For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, #e09393, #ea00ff);  Standard syntax */
}

p,
a {
    font-family: 'Abel', sans-serif;
}
body {
    margin: 0px;
}
nav {
    background: black;
    text-align: right;
    padding: 7px 25px;
    height: 75px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-align: right;
    display: inline-table;
    color: #efefef;
    text-decoration: none;
    margin: 5px;
    background: none;
    letter-spacing: 1px;
}

nav img {
    float: left;
    max-height: 75px;
}

footer{
    background: black;
    text-align: right;
    padding: 7px 25px;
}

h1 {
    margin: 50px auto 0;
    max-width: 617px;
    padding: 0 35px 25px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 3em;
    line-height: 53px;
    border-bottom: solid 3px;
}

h1 + div  h2 {
    text-align: center;
    font-size: 31px;
    margin: 200px auto;
    color:black;
    width: 392px;
}

h1 + div {
    background-image: url('halftton-gradient.png');
    width: 680px;
    margin: 0 auto;
    height: 400px;
}

section h2 {
    color:white;
    text-align: center;
    font-family: 'Abel', sans-serif;
    margin-top: 0;
    letter-spacing: 1px;
}

section {
    margin: 45px auto;
    position: relative;
    width: 80%;
    min-height: 300px;
}

section p {
    color:white;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 21px;
}

.prime-block {
    width: 80%;
    display: inline-block;
}

.prime-block img {
    width: 100%;
    display: block;
    border: solid 1px black;
}

.second-block {
    background: #3f3f3f;
    padding: 24px;
    display: inline-block;
    max-width: 30%;
    position: absolute;
    margin-left: -10%;
    top: 30px;
    box-shadow: 5px 4px 26px #000000;
    border: solid 1px black;
}

.second-block p {
    color: white;
}

.social-media {
    color: black;
}

.social-media img {
    height: 35px;
    width: 35px;
}

.social-media .dribbble {
    height: 25px;
    width: 25px;
    padding-bottom: 5px;
}

@media (min-width:741px){
    h1 span{
        display: block;
    }
}

@media (max-width: 1415px) {

    section {
        width: 90%;
    }
}

@media (max-width: 1275px) {
    .second-block {
        display: block;
        max-width: 100%;
        margin: 0;
        position: relative;
        box-shadow: none;
        top: 0;
        border: none;
    }

    .prime-block {
        width: 100%;
        display: block;
    }
}

@media (max-width:740px) {

    nav {
        height: 55px;
    }

    nav img{
        max-height: 55px;
    }

    h1 {
        font-size: 24px;
        line-height: 35px;
        margin: 25px 25px 0;
    }

    h2 { 
        margin-top: 2%;
        letter-spacing: 1px;
        font-size: 1.5em;
    }
    
    h1 + h2 {
        text-align: center;
        font-size: 18px;
        margin: 70px 20ox;
        color:black;
        width: 392px;
    }

    section {
        width: 100%;
    }

    section p {
        font-size: 14px;
        line-height: 18px;
    }

    .wrapper {
        margin: 0 20px;
    }
}

@media (max-width:400px) {
    h1 {
        font-size:17px;
        line-height:17px;
    }

    h2 {
        font-size: 1em;
    }
}
